body{
    background-image: url("a.gif");
}
h1{
    text-align: center;
    font-size: 100px;
    color:aqua;
    margin-bottom: 30px;
}
li{
    text-align: left;
    font-size: 40px;
    margin-bottom: 30px;
}
p{
    text-align: center;
    font-size: 45px;
    color:#fff700;
    margin-bottom: 30px;
}